{{- $features := index . "features" | default dict -}}
{{- $sunshine := index $features "sunshine" | default false -}}
local apps = require("modules.apps")

hl.on("hyprland.start", function()
	hl.exec_cmd(apps.noctalia)
{{- if $sunshine }}
	hl.exec_cmd("systemctl --user import-environment WAYLAND_DISPLAY DISPLAY XDG_CURRENT_DESKTOP HYPRLAND_INSTANCE_SIGNATURE XDG_SESSION_TYPE && systemctl --user start app-dev.lizardbyte.app.Sunshine")
{{- end }}
end)
